<div class="container">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>カート内合計金額</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="display-4">
            <% if @sum === 0 %>
              <small class="text-muted">カート内は空です。</small>
            <% else %>
              <%= @sum.to_s(:delimited) %>円
              <small class="text-muted">
                （内消費税：<%= (@sum * 10 / 110).to_s(:delimited) %>円）
              </small>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-secondary">
            現在お支払総額：
            <% if @sum === 0 %>
              0円
            <% elsif @sum < 3000 %>
              <%= (@sum + 800).to_s(:delimited) %>円（後
              <%= (3000 - @sum).to_s(:delimited) %>で送料半額）
            <% elsif @sum < 5000 %>
              <%= (@sum + 400).to_s(:delimited) %>円（後
              <%= (5000 - @sum).to_s(:delimited) %>で送料無料）
            <% else %>
              <%= @sum.to_s(:delimited) %>円
            <% end %>
          </th>
        </tr>
      </thead>
    </table>
      <%= link_to "買物を続ける", users_items_path, class: "btn btn-primary" %>
      <%= button_to "カートを空にする", destroy_all_users_cart_items_path, method: :delete, class: "btn btn-danger" %>
      <%= link_to "情報入力に進む", new_users_order_path, class: "btn btn-success" %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>image</th>
          <th>商品名</th>
          <th class="text-right">単価</th>
          <th>数量</th>
          <th class="text-right">価格</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= attachment_image_tag cart_item.item, :image, fallback: "no_image.jpg", size: "50x50" %></td>
            <td><%= cart_item.item.name %></td>
            <td class="text-right"><%= cart_item.item.price.to_s(:delimited) %></td>
              <td>
            <%= form_with model: cart_item, url: users_cart_item_path(cart_item), local: true do |f| %>
                <%= f.select :amount, (1..50) %>
                <%= f.submit "更新" %>
            <% end %>
              </td>
            <td class="text-right"><%= (cart_item.item.price * cart_item.amount).to_s(:delimited) %></td>
            <td><%= button_to "削除", users_cart_item_path(cart_item), method: :delete, class: "btn btn-danger" %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
