<div class="container">
  <h2>購入確認画面</h2>
  <div class="row">
    <div class="col-7 order_basic">
    <%= form_with model: @order, url: users_orders_path, local: true do |f| %>
      <table class="table">
        <thead>
          <tr>
            <th>購入基本情報</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              【支払方法】<%= @order.payment_method_i18n %>
              <%= f.hidden_field :payment_method, :value => @order.payment_method %>
            </td>
          </tr>
          <tr>
            <td>
              【お届け先】
              <%= @order.name %><%= f.hidden_field :name, :value => @order.name %>
              <%= @order.postal_code %><%= f.hidden_field :poatal_code, :value => @order.postal_code %>
              <%= @order.address %><%= f.hidden_field :address, :value => @order.address %>
              <%= @order.telephone %><%= f.hidden_field :telephone, :value => @order.telephone %>            
            </td>
          </tr>
          <tr>
            <td>
              【請求金額】<%= (@sum + @order.shipping_cost).to_s(:delimited) %> 円
              （内消費税：<%= (@sum * 10 / 110).to_s(:delimited)%>円）
              （内送料：<%= @order.shipping_cost.to_s(:delimited) %> 円）
              <%= f.hidden_field :total_payment, :value => @sum + @order.shipping_cost %>
              <%= f.hidden_field :shipping_cost, :value => @order.shipping_cost %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-5">
      </div>
      <div class="row">
        <div class="col-12 purchase_goods">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>購入商品詳細</th>
                <th>商品名</th>
                <th class="text-center">数　量</th>
                <th class="text-center">単　価</th>
                <th class="text-center">金　額</th>
              </tr>
            </thead>
            <% current_user.cart_items.each do |cartitem| %>
            <tbody>
              <tr>
                <td><%= attachment_image_tag cartitem.item, :image, format: 'jpg', fallback: "no_image.jpg", size: "50x50" %></td>
                <td><%= cartitem.item.name %></td>
                <td class="text-right"><%= cartitem.amount %></td>
                <td class="text-right"><%= cartitem.item.price.to_s(:delimited) %></td>
                <td class="text-right"><%= (cartitem.amount * cartitem.item.price).to_s(:delimited) %></td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
