<div class="container">
<h2>注文情報入力</h2>
  <%= form_with model: @order, url: confirm_users_orders_path(@order), local: true do |f| %>
    <div class="row">
      <div class="col-sm-2">
        <%= f.label :payment_method, "お支払方法", {class: 'form-label'} %>
      </div>
      <div class="col-sm-10 btn-group" data-toggle="buttons">
        <label class="btn btn-outline-secondary active" style="width:30%">
          <%= f.radio_button :payment_method, 0, {checked: true} %>クレジット
        </label>
        <label style="width:30%" class="btn btn-outline-secondary">
          <%= f.radio_button :payment_method, 1, {} %>現金振込
        </label>
        <label style="width:30%" class="btn btn-outline-secondary">
          <%= f.radio_button :payment_method, 2, {} %>店頭支払い
        </label>
      </div>
    </div>
  <% end %>
</div>
