<div class="container">
<h2>注文情報入力</h2>
  <%= form_with model: @order, url: confirm_users_orders_path(@order), local: true do |f| %>
    <div class="row">
      <div class="col-sm-2">
        <%= f.label :payment_method, "お支払方法", {class: 'form-label'} %>
      </div>
      <div class="col-sm-10 btn-group" data-toggle="buttons">
        <label class="btn btn-outline-secondary active" style="width:30%">
          <%= f.radio_button :payment_method, 0, {checked: true} %>クレジット
        </label>
        <label style="width:30%" class="btn btn-outline-secondary">
          <%= f.radio_button :payment_method, 1, {} %>現金振込
        </label>
        <label style="width:30%" class="btn btn-outline-secondary">
          <%= f.radio_button :payment_method, 2, {} %>店頭支払い
        </label>
      </div>
      <div class="col-sm-2">
        配送先
      </div>
      <div class="col-sm-10">
        <label>
          <%= f.radio_button :flag, 0 %>
          ご自身のご住所：
          <%= current_user.name %>様　〒：
          <%= current_user.postal_code %>　住所：
          <%= current_user.address %>　TEL：
          <%= current_user.telephone %>
        </label>
        <label>
          <%= f.radio_button :flag, 1 %>
          登録した配送先：
          <%= select_tag :address_id, options_from_collection_for_select(@addresses, :id, :full_address, 1) %>
        </label>
        <label>
          <%= f.radio_button :flag, 2 %>
          新しい登録先：
          氏　　名：<%= f.text_field :name %>
          郵便番号：<%= f.text_field :postal_code %>
          住　　所：<%= f.text_field :address %>
          電話番号：<%= f.text_field :telephon %>
        </label>
      </div>
      <%= f.submit "確認画面に進む", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
