<div class="container">
  <div class="roast_create">
    <h3>煎り方</h3></br>
    <%= form_with model: @roast, url: admins_roasts_path, local: true do |f| %>
    <p>
      煎り分類：
      <%= f.text_field :name %>
      <%= f.submit "作成", class: "btn btn-success" %>
    </p>
    <% end %>
  </div>
  <div class="roasts_list">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>名称</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @roasts.each do |roast| %>      
        <tr>
          <td><%= roast.name %></td>
          <td><%= link_to "削除", admins_roast_path(roast), dependent: :delete, data: { confirm: "本当に削除しますか？"}, class: "btn btn-danger" %></td>
          <td></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
