<!DOCTYPE html>
<html>
  <head>
    <title>DreamCoffee まろやかな珈琲Site</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navber' %>
    </header>
    <%= yield %>
    <footer>
      <div class="container">
        <div class="sub-wrapper">
          <div class="container-fluid sub-container">
            <div class="row sub">
              <div class="col-md-8 col-xs-12 profile">
                <h2 class="profile-title">About Me</h2>
                <div class="col-md-5 col-sm-5 col-xs-5 profile-image">
                  <%= image_tag 'yumecoffee_master.png', class: "profile-image--item", width: '80%', height: '80%' %>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7 profile-info">
                  <p class="profile-info--name">kouich</p>
                  <div class="profile-info--link">
                    <%= link_to "https://twitter.com/xringoxr", {class: "profile-info--sns icon-sns icon-twitter", target: "_blank"} do %>
                      <%#= fa_icon "twitter 2x" %>
                    <% end %>
                    <%= link_to "https://www.instagram.com/hirozak/", {class: "profile-info--sns icon-sns icon-instagram", target: "_blank"} do %>
                      <%#= fa_icon "instagram 2x" %>
                    <% end %>
                    <%= link_to "https://github.com/hirozak", {class: "profile-info--sns icon-sns icon-github", target: "_blank"} do %>
                      <%#= fa_icon "github 2x" %>
                    <% end %>
                  </div>
                  <div class="profile-info--description">
                    <p>coffee_maister＆musist</p>
                    <p>音楽（ギター、ピアノ）、工作が好きです。</p>
                    <%= link_to "詳しく見る", "../about", class: "btn btn-outline-default btn-round" %>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-xs-12 this_blog">
                <h2 class="this_blog-title">This Blog</h2>
                <div class="this_blog-description">
                  <p>このブログはfumiblogがRuby on Railsで開発しました。</p>
                  <p>GitHubにて、ソースコードを公開しています。</p>
                  <div class="this_blog-description--link">
                    <div class="blogCard blogCard--noimg">
                      <div class="blogCardCont">
                        <div class="blogCardTxt">
                          <p class="blogCardTitle"><a href="https://github.com/hirozak/hirozak.space" target="_blank">kouichi/kouichi.space</a></p>
                          <p>kouichi.space - my blog</p>
                        </div>
                      </div>
                      <div class="blogCardFooter">
                        <a href="https://github.com/hirozak/hirozak.space"><img src="https://github.githubassets.com/pinned-octocat.svg" alt="">github.com</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </footer>
  </body>
</html>
